* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #000;
}

#root {
  margin: 0 auto;
  width: 500px;
  height: 100vh;
  background-color: #fff;
  padding: 30px 12px 0;
}

nav li {
  display: inline-block;
}

nav li:nth-child(n + 2) {
  margin-left: 10px;
}

nav li:nth-child(n + 2)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #999;
  margin-right: 10px;
}

nav li a {
  color: #8ab4f8;
}
